@{
    @model List<DemoData.Emisores>

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo Cliente  web API</h1>

    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<a href="@Url.Action("Create","Home")">AGREGAR</a>

<div class="col s12">
<br />
<table id="mytable" class="responsive-table striped" style="width: 100%">
    <thead>
        <tr role="row">
            <th>Clave</th>
            <th>RFC</th>
            <th>Fecha Inicio Operacion </th>
            <th>Capital </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rfc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaInicioOperacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Capital)
    </td>
</tr>            }
    </tbody>
</table>
</div>
